body {
	color : red;
	text-orientation: center;
	text-align: CENTER;
	font-size: large;

	}
	h4{

		text-align: center;
		color: red;
	}
	section div div{

		text-decoration: underline;
		text-align: center;
		color: darkmagenta;
		font-size: x-large;
		font-style: italic;
  }
  section div{
  	color : blue;
  	font-size:x-large;
  }

  a{
    
  	font-size: x-large;
  }