*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

body{

	background-color : ghostwhite;
	
}


h1{

	color: #330000;
	text-align: center;
	font-size: 80px;
	position: relative;
	left: 30px;
	bottom: 110px;
	font-family: 'Merienda', cursive;
}

header{
background-color: whitesmoke;
height: 150px;
padding: 20px;

}



header div img{
	position: relative;
	left: 30px;
	bottom: 10px;
}

h2{

	color: #330000;
	font-size: 60px;
	text-align: center;
	margin-top: 20px;
	font-family: 'Merienda', cursive;
	text-decoration: underline;
}

section{
	margin: 20px 20px 0px 20px;
	border: solid;
	border-color: #330000;
	border-width: 5px;
	border-radius: 20px ;
	height: 1500px;
	background-image: url(https://previews.123rf.com/images/seamartini/seamartini1702/seamartini170200814/72874161-fast-food-seamless-background-wallpaper-with-vector-sketch-pattern-of-snacks-and-drinks-pizza-slice-.jpg);
	clear: left;

}

section div{
	margin-top: 45px;
	margin-left: 20px;
	width: 250px;
	height: 250px;
	float: left;
}




section div img{
	border:  solid;
	border-color: #330000;
	border-width: 3px;
}

section div span{
width: 200px;
font-size: 20px;
color: #330000;
border: solid 3px #330000;
background-color: whitesmoke;
width: 250px;
height: 40px;

}



footer{

	background-color: whitesmoke;
	height: 170px;
	padding: 20px;
	text-align: center;

}

footer p{
	font-size: 40px;
	font-family: 'Merienda', cursive;
}

#Contact, #Address{

	font-family:'Merienda', cursive;
	font-size: 10px;
	color: #330000;
	text-align: center;
}


#big{
	font-size: 25px;
}
